#site-wrapper {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-image: url("/images/bg1.jpg");
}
.overlay {
	position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#0083e8+0,f7a000+100&0.16+0,0.39+100 */
	background: -moz-linear-gradient(-45deg,  rgba(0,131,232,0.16) 0%, rgba(247,160,0,0.39) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(-45deg,  rgba(0,131,232,0.16) 0%,rgba(247,160,0,0.39) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(135deg,  rgba(0,131,232,0.16) 0%,rgba(247,160,0,0.39) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#290083e8', endColorstr='#63f7a000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
	z-index:-1;
}
.logo-container > p {
    color: white;
    font-size: 49px;
    font-family: 'Raleway', sans-serif;
    margin: 0;
    font-weight: 100;
    margin: 15px 0 0 15px;
}
.top-nav {
	display:table;
	width:100%;
}
.logo-container {
	display:table-cell;
}
.top-menu-container {
	display:table-cell;
	position:absolute;
	right: 0;
	top:21px;
	
}

.top-menu-container > div {
    display: inline;
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-weight: 300;
    font-size: 30px;
    padding: 0 10px;
	text-transform: uppercase;
}

.top-menu-container > div:last-child {
    padding-right: 30px;
}
div#search-container {
	max-width: 1000px;
    width: 95%;
    height: 160px;
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
	font-family: "open-sans", sans-serif;
    font-size: 26px;
    font-weight: 300!important;
}
#search-container > form {
	display: table;
	width:100%;
}
#search-container > form > input[type = "search"] {
	outline: none;
	background-color: rgba(255,255,255,1);
	padding-left: 30px;
	width: 600px;
    height: 100px;
	border: none;
	border-radius:0px 0px 0px 4px;
    -webkit-transition: all .5s;
    -moz-transition: all .5s;
    transition: all .5s;
	display: table-cell;
	font-family: "open-sans", sans-serif;
    font-size: 26px;
    font-weight: 300!important;
}

#search-container > form > input:focus, #search-container > form > input:hover {
	/*border: 1px solid #9c9c9c;*/
	outline:none;
	border:none;
}

.search-filter {
    background-color: rgba(0,0,0,0.7);
    display: table-cell;
	cursor: pointer;
	width: 300px;
    text-align: center;
	height: 60px;
	vertical-align:middle;
}
.search-filter:hover {
	background-color: rgba(0,0,0,0.95);
}
.search-filter > span {
	color: #fff;
}
.search-filter:first-child {
	border-radius: 4px 0 0 0;
}
.last-filter {
	border-radius: 0 4px 0 0;
}
.current-filter {
	border-bottom:3px solid rgb(0,102,255);
	background-color: rgba(0,0,0,0.85);
	height: 57px;
}

.buy-rent-container > div {
    display: table-cell;
    background-color: rgba(255,255,255,1);
    height: 100px;
    width: 100px;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;
    height: 98px;
	color: #222;
}
.buy-rent-container > div > span {
	width: 100%;
}
.selected-filter, .buy-rent-container > div:hover {
	background-color: #f3f3f3 !important;
    height: 94px !important;
    border-bottom: 3px solid rgb(0,102,255)!important;
    border-top: 3px solid rgba(0,0,0,0)!important;
}
.buy-rent-container {
    display: table-cell;
    vertical-align: top;
	min-width:200px;
}
.search-button {
    width: 100%;
    border-radius: 0 4px 4px 0;
    display: table-cell;
    vertical-align: middle;
    background-color: rgb(0, 67, 167);
    padding-left: 42px;
	cursor: pointer;
}
.search-button > div {
    display: table;
}
.search-button > div > div {
    display: table-cell;
    vertical-align: middle;
}
.search-button > div > div >  img {
    display: block;
	width: 30px;
}
.search-button > div > div > span {
	color: #fff;
	padding-left: 8px;
}
div#filter-containers {
    display: table;
    width: 100%;
    margin-top: 10px;
}
.filter {
    display: table-cell;
    text-align: center;
    width: 20%;
    height: 60px;
    vertical-align: middle;
    border-right: 1px solid #e8e8e8;
    background-color:#fff;
    cursor: default;
    color:#444;

}
.filter:hover {
    background-color: rgba(255,255,255,0.95);
    color:222;
}